<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="spedytor.Properties.S3Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="spedytor.S3Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="spedytor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <spedytor.Properties.S3Settings>
            <setting name="AWS_ACCESS_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="AWS_SECRET_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="AWS_BUCKET_ID" serializeAs="String">
                <value />
            </setting>
        </spedytor.Properties.S3Settings>
        <spedytor.Properties.Settings>
            <setting name="HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PASS" serializeAs="String">
                <value />
            </setting>
            <setting name="CONFIGURED" serializeAs="String">
                <value>False</value>
            </setting>
        </spedytor.Properties.Settings>
    </userSettings>
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
